[%- -%]
package [% inner_class %];
  use Moose;
  with 'Paws::API::StrToObjMapParser';

[% INCLUDE caller_map_attr.tt -%]
  has Map => (is => 'ro', isa => '[% map_class %]');
1;

[% INCLUDE 'map_str_to_whatever.tt' %]
